//change this code
body * {
  font-family: 'PixelifySans', sans-serif;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('./PixelifySans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
